
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2vw 0vw;
    background-image: url(images/bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 0.02em;
}

#container{
    background-color: rgba(248, 248, 248, 0.7);
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 1.75vw;
    padding: 2vw 3vw 2vw 3vw;
    width: 35%;
}

#main{
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}

#main>h1{
    font-size: 1.5vw;
    text-align: center;
}

#main>form{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#main>form>#content{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

#content>.group{
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
}

#content>.group>h2{
    color: #353535;
    font-size: 0.95vw;
    text-align: left;
}

#content>.group>#input-group{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#input-group .input-field{
    display: flex;
    flex-direction: column;
    gap: 0.35vw;
}

#input-group .input-field label{
    color: #353535;
    font-size: 0.75vw;
}

#input-group>.input-field>#input-container{
    position: relative;
}

/* /input */
#input-container input{
    padding: 0.5vw 0.8vw;
    width: 100%;
    outline: none;
    border-radius: 5px;
    font-size: 0.8vw;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.125);
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(255 255 255 / 15%);
}

#input-container input:focus{
    border: 1px solid #4444444f;
    background-color: rgb(214, 214, 214);
}
#input-container input:hover{
    cursor: text;
    background-color: rgba(214, 214, 214, 0.878);
}
/* /input */

/* /password input */
#password-and-pin #input-container input#password{
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

#password-and-pin #input-container input#confirm-password{
    position: absolute;
    bottom: -99%;
    left: 0%;
    border-radius: 0px 0px 5px 5px;
}

#password-and-pin #input-container>hr{
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 1;
}

#password-field{
    margin-bottom: 2.5vw;
}

/* /password input */

#input-container span{
    font-size: 17px;
    position: absolute;
    top: 30%;
    right: 3%;
    visibility: hidden;
}
#password-and-pin #input-container span{
    top: 130%;
}
#password-and-pin #input-container span#password-visibility-icon,
#password-and-pin #input-container span#password-state-icon{
    top: 30%;
}

#password-and-pin #input-container span#password-visibility-icon{
    visibility: visible;
    cursor: pointer;
}


#input-container .error-field{
    font-size: 12px;
    position: absolute;
    bottom: -50%;
    right: 0%;
    visibility: hidden;
}
#password-and-pin #input-container .error-field{
    bottom: -150%;
}

#main>form>button{
    cursor: pointer;
    letter-spacing: 0.05em;
    background-color: #212121;
    color: #f8f8f8;
    padding: 0.5rem 0px;
    outline: none;
    border: none;
    border-radius: 0.3125rem;
    transition-duration: 300ms;
    transition-property: background-color;
}

#main>form>button:disabled, #main>form>button:disabled:hover{
    background-color: #35353580;
    box-shadow: none;
    cursor: not-allowed;
    color: #c1c1c1;

}

#main>form>button:hover{
    box-shadow: 0px 0px 20px 5px rgba(78, 78, 78, 0.4);
    transition-timing-function: ease-in;
}

#main>form>button:active{
    box-shadow: none;
}

hr{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #999;
}

/* /tooltip */

#password-container>#tooltip {
    gap: 0.2vw;
    flex-direction: column;
    display: flex;
    position: absolute;
    /* right: -42.5%; */
    right: -40%;
    visibility: hidden;
    top: -48%;
    padding: 1vw;
    background-color: #e4e4e4;
    color: rgb(122, 122, 122);
    font-size: 0.6vw;
    border-radius: 0.5vw;
    transition-duration: 100ms;
}

#password-container:focus-within>#tooltip{
    visibility: visible;
    right: -42.5%;
    transition-timing-function: ease-out;
}

#password-container>#tooltip::before {
    position: absolute;
    content: "";
    background-color: #e4e4e4;
    height: 0.5vw;
    width: 0.5vw;
    left: 0%;
    top: 30%;
    transform: translateX(-50%) rotate(45deg);
}

#tooltip>p {
    display: flex;
    gap: 0.2vw;
    align-items: center;
}

#tooltip>p>span{
    position: relative;
    transition-duration: 100ms ;
}

#password-container:focus-within>#tooltip>p>span{
    visibility: visible;
}

/* /tooltip */

/* /pin-input-field */

#pin-input-field{
    display: flex;
    flex-direction: row;
    gap: 1.25vw;
}

#pin-input-field>.input-field>#input-container{
    display: flex;
    justify-content: space-between;
}

#pin-input-field>.input-field>#input-container input {
    width: 15%;
    padding: 0.5vw 0.5vw;
    text-align: center;
}

#password-and-pin #input-container>#pin-visibility-icon, #password-and-pin #input-container #pin-validation-icon{
    position: absolute;
    top: -60%;
    right: 0%;
    cursor: pointer;
}

#password-and-pin #input-container>#pin-visibility-icon{
    visibility: visible;
}

.pin{
    position: relative;
}

#password-and-pin #input-container #pin-error-field, #password-and-pin #input-container #confirm-pin-error-field{
    position: absolute;
    top: 120%;
    right: 0%;
    bottom: auto;
}


/* /pin-input-field */

/* /divider */

#container>.divider {
    display: flex;
    align-items: center;
}

#container>.divider>p {
    color: #7c7c7c;
    font-size: 0.8vw;
    padding: 0% 0.5vw;
}

/* /divider */

/* /footer */

#container>.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25vw;
}

#container>.footer>p {
    font-size: 0.7vw;
    color: #2e2e2e;
    font-weight: 400;
    padding: 0px 0.2vw;
}

#container>.footer>p>a {
    color: #212121;
    font-size: 0.75vw;
    font-weight: 700;
    text-decoration: none;
}

/* /footer */